.svg-hover-on:hover {
    stroke-width: 5;
    stroke: yellow;
    /* fill: blue; */
    
}
.icon-container {
    display: flex;
    align-items: center; /* Align items vertically centered */
    justify-start: flex-start; /* start of the container’s main axis */
}