.switch {
  all: unset;
  position: absolute;
  right: 20px;
  top: 50px;
  display: inline-block;
  color: currentColor;
  border-radius: 50%;
  border: 1px dashed currentColor;
  cursor: pointer;
  --size: 24px;
  height: var(--size);
  width: var(--size);
  transition: all 0.3s ease-in-out 0s !important;
}

.system-icon, .light-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.system-icon svg, .light-icon {
  width: 100%;
  height: 100%;
}

[data-mode="system"] .switch::after{
  content: "";
}

/* [data-mode="light"] .switch {
  content: "";
} */

[data-mode="light"] .switch {
  box-shadow: 0 0 50px 10px yellow;
  border: none;
  background: transparent
}

[data-mode="dark"] .switch {
  box-shadow: calc(var(--size) / 4) calc(var(--size) / -4) calc(var(--size) / 8)
    inset #fff;
  border: none;
  background: transparent;
  animation: n linear 0.5s;
}

@keyframes n {
  40% {
    transform: rotate(-15deg);
  }
  80% {
    transform: rotate(10deg);
  }
  0%,
  100% {
    transform: rotate(0deg);
  }
}
