.plexus-bg {
  background-image:
    url("data:image/svg+xml,%3Csvg%20width%3D'1600'%20height%3D'900'%20viewBox%3D'0%200%201600%20900'%20fill%3D'none'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%3Cg%20opacity%3D'0.22'%3E%3Ccircle%20cx%3D'180'%20cy%3D'140'%20r%3D'2'%20fill%3D'%230ea5e9'%2F%3E%3Ccircle%20cx%3D'420'%20cy%3D'220'%20r%3D'1.5'%20fill%3D'%230ea5e9'%2F%3E%3Ccircle%20cx%3D'680'%20cy%3D'180'%20r%3D'2'%20fill%3D'%230ea5e9'%2F%3E%3Ccircle%20cx%3D'920'%20cy%3D'320'%20r%3D'1.5'%20fill%3D'%230ea5e9'%2F%3E%3Ccircle%20cx%3D'1240'%20cy%3D'200'%20r%3D'2'%20fill%3D'%230ea5e9'%2F%3E%3Cline%20x1%3D'180'%20y1%3D'140'%20x2%3D'420'%20y2%3D'220'%20%20%20%20%20%20stroke%3D'%230ea5e9'%20%20%20%20%20%20stroke-opacity%3D'0.15'%20%20%20%20%20%20stroke-width%3D'1'%2F%3E%3Cline%20x1%3D'420'%20y1%3D'220'%20x2%3D'680'%20y2%3D'180'%20%20%20%20%20%20stroke%3D'%230ea5e9'%20%20%20%20%20%20stroke-opacity%3D'0.15'%20%20%20%20%20%20stroke-width%3D'1'%2F%3E%3Cline%20x1%3D'680'%20y1%3D'180'%20x2%3D'920'%20y2%3D'320'%20%20%20%20%20%20stroke%3D'%230ea5e9'%20%20%20%20%20%20stroke-opacity%3D'0.15'%20%20%20%20%20%20stroke-width%3D'1'%2F%3E%3Cline%20x1%3D'920'%20y1%3D'320'%20x2%3D'1240'%20y2%3D'200'%20%20%20%20%20%20stroke%3D'%230ea5e9'%20%20%20%20%20%20stroke-opacity%3D'0.15'%20%20%20%20%20%20stroke-width%3D'1'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");

  background-size: cover;
  background-position: center;
}

/* equivalent to the below is shown on top */
/* .plexus-bg {
  background-image:
    url("data:image/svg+xml,%3Csvg width='1600' height='900' viewBox='0 0 1600 900' fill='none' xmlns='http://www.w3.org/2000/svg'%3E
    %3Cg opacity='0.22'%3E

    %3Ccircle cx='180' cy='140' r='2' fill='%230ea5e9'/%3E
    %3Ccircle cx='420' cy='220' r='1.5' fill='%230ea5e9'/%3E
    %3Ccircle cx='680' cy='180' r='2' fill='%230ea5e9'/%3E
    %3Ccircle cx='920' cy='320' r='1.5' fill='%230ea5e9'/%3E
    %3Ccircle cx='1240' cy='200' r='2' fill='%230ea5e9'/%3E

    %3Cline x1='180' y1='140' x2='420' y2='220'
      stroke='%230ea5e9'
      stroke-opacity='0.15'
      stroke-width='1'/%3E

    %3Cline x1='420' y1='220' x2='680' y2='180'
      stroke='%230ea5e9'
      stroke-opacity='0.15'
      stroke-width='1'/%3E

    %3Cline x1='680' y1='180' x2='920' y2='320'
      stroke='%230ea5e9'
      stroke-opacity='0.15'
      stroke-width='1'/%3E

    %3Cline x1='920' y1='320' x2='1240' y2='200'
      stroke='%230ea5e9'
      stroke-opacity='0.15'
      stroke-width='1'/%3E

    %3C/g%3E
    %3C/svg%3E");

  background-size: cover;
  background-position: center;
} */

.noise-bg {
  background-image:
  url("data:image/svg+xml,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20width%3D'140'%20height%3D'140'%20viewBox%3D'0%200%20140%20140'%3E%3Cfilter%20id%3D'n'%3E%3CfeTurbulence%20type%3D'fractalNoise'%20%20%20%20%20%20baseFrequency%3D'0.9'%20%20%20%20%20%20numOctaves%3D'2'%20%20%20%20%20%20stitchTiles%3D'stitch'%2F%3E%3C%2Ffilter%3E%3Crect%20width%3D'140'%20height%3D'140'%20filter%3D'url(%23n)'%20opacity%3D'1'%2F%3E%3C%2Fsvg%3E");
}

/* equivalent to the below is shown above */
/* .noise-bg {
  background-image:
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='140' height='140' viewBox='0 0 140 140'%3E
    %3Cfilter id='n'%3E
    %3CfeTurbulence type='fractalNoise'
      baseFrequency='0.9'
      numOctaves='2'
      stitchTiles='stitch'/%3E
    %3C/filter%3E
    %3Crect width='140' height='140' filter='url(%23n)' opacity='1'/%3E
    %3C/svg%3E");
} */

@keyframes pulseNode {
  0%, 100% {
    opacity: 0.4;
    transform: scale(1);
  }

  50% {
    opacity: 1;
    transform: scale(1.4);
  }
}

.plexus-bg::after {
  content: "";
  position: absolute;
  inset: 0;

  background:
    radial-gradient(circle at 30% 40%, rgba(0,113,193,0.8) 0 2px, transparent 3px),
    radial-gradient(circle at 70% 20%, rgba(0,113,193,0.8) 0 2px, transparent 3px),
    radial-gradient(circle at 60% 75%, rgba(0,113,193,0.8) 0 2px, transparent 3px);

  animation: pulseNode 18s ease-in-out infinite;
}

.dark .plexus-bg::after {
  content: "";
  position: absolute;
  inset: 0;

  background:
    radial-gradient(circle at 30% 40%, rgba(217,249,157,0.8) 0 2px, transparent 3px),
    radial-gradient(circle at 70% 20%, rgba(217,249,157,0.8) 0 2px, transparent 3px),
    radial-gradient(circle at 60% 75%, rgba(217,249,157,0.8) 0 2px, transparent 3px);

  animation: pulseNode 18s ease-in-out infinite;
}