.alert, .note, .tip {
  padding: 1em;
  margin: 1.5em 0;
  border-left: 8px solid;
  border-radius: 6px;
}

.alert {
  background-color: #fffbeb;
  border-color: #f59e0b;
  color: #451a03;
}

.note {
  background-color: #ecfdf5;
  border-color: #10b981;
  color: #14532d;
}

.tip {
  background-color: #eff6ff;
  border-color: #3b82f6;
  color: #1e3a8a;
}

.prose {
  max-width: 100%;
}

/* for < pre > < code > block codes render IP and timming suffix */
.prose pre{
  @apply bg-[#24292E] rounded-lg p-4;
}

/* for future if need to split */
/* .prose pre.language-bash code, */
/* .prose pre.language-powershell code { */
  /* @apply bg-transparent text-tkokhing-dark;} */

.prose pre[class^="language-"] code {
  @apply bg-transparent text-tkokhing-dark;
}

/* for command that (i) having user-input IPs/Ports or (ii) output to a file */
.prose code[data-kind] {
  @apply text-tkokhing-dark;
  padding: 0.15em 0.4em;
  border-radius: 0.375rem;
}

/* Prevent tables from breaking container */
.prose table {
  display: block;
  margin-left: auto;
  table-layout: auto;
  margin-right: auto;
  max-width: 100%;
  overflow-x: auto;
  white-space: nowrap;
  background: rgba(0,0,0,0.13);
  border-radius: 0.375rem;
  padding: 0.5rem;
}

.dark .prose table {
  background: rgba(255,255,255,0.24);
}

/* Chrome / Edge / Safari */
.prose table::-webkit-scrollbar {
  height: 6px;
}

.prose table::-webkit-scrollbar-track {
  background: transparent;
}

.prose table::-webkit-scrollbar-thumb {
  background: rgba(120,120,120,0.5);
  border-radius: 9999px;
}