.alert, .note, .tip {
  padding: 1em;
  margin: 1.5em 0;
  border-left: 8px solid;
  border-radius: 6px;
}

.alert {
  background-color: #fffbeb;
  border-color: #f59e0b;
  color: #451a03;
}

.note {
  background-color: #ecfdf5;
  border-color: #10b981;
  color: #14532d;
}

.tip {
  background-color: #eff6ff;
  border-color: #3b82f6;
  color: #1e3a8a;
}

.prose {
  max-width: 100%;
}

.prose a {
  overflow-wrap: break-word;
  word-break: break-word;
}

/* for < pre > < code > block codes render IP and file_timing suffix */
.prose pre{
  @apply bg-[#24292E];
}

.prose pre::-webkit-scrollbar-track {
  background: transparent;
}
.prose pre::-webkit-scrollbar-button {
  display: none;
}
.prose pre::-webkit-scrollbar-thumb {
  background: rgba(120,120,120,0.5);
}
.prose pre::-webkit-scrollbar-thumb:hover {
  background: rgba(23, 23, 23, 0.5);
}
.dark .prose pre::-webkit-scrollbar-thumb {
  background: rgb(245, 245, 245);
  border-radius: 9999px;
}
.dark .prose pre::-webkit-scrollbar-thumb:hover {
  background: rgb(120, 120, 120);
}
/* for future if need to split */
/* .prose pre.language-bash code, */
/* .prose pre.language-powershell code { */
  /* @apply bg-transparent text-tkokhing-dark;} */

.prose pre[class^="language-"] code {
  @apply bg-transparent text-tkokhing-dark;
}

/* for command that (i) having user-input IPs/Ports or (ii) output to a file */
.prose code[data-kind] {
  @apply text-tkokhing-dark;
  padding: 0.15em 0.4em;
  border-radius: 0.125rem;
}

.prose a code[data-kind] {
  overflow-wrap: break-word;
  word-break: break-word;
}

/* Prevent tables from breaking container */
.prose table {
  display: block;
  margin-left: auto;
  table-layout: auto;
  margin-right: auto;
  max-width: 100%;
  overflow-x: auto;
  white-space: nowrap;
  background: rgba(0,0,0,0.13);
  border-radius: 0.125rem;
  padding: 0.5rem;
}

.dark .prose table {
  background: rgba(255,255,255,0.24);
}

/* Chrome / Edge / Safari */
.prose table::-webkit-scrollbar {
  height: 6px;
}

.prose table::-webkit-scrollbar-track {
  background: transparent;
}
.prose table::-webkit-scrollbar-thumb {
  background: rgba(120,120,120,0.5);
  border-radius: 9999px;
}
.prose table::-webkit-scrollbar-thumb:hover {
  background: rgba(23, 23, 23, 0.5);
}
.dark .prose table::-webkit-scrollbar-thumb {
  background: rgb(245, 245, 245);
  border-radius: 9999px;
}
.dark .prose table::-webkit-scrollbar-thumb:hover {
  background: rgb(120, 120, 120);
}