// for we_are repo
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}
.logo video {
    width: 100%; /* Make video responsive */
    max-width: 150px; /* Adjust max size as needed */
    height: auto; /* Maintain aspect ratio */
}
/* for logo image day/night switching */
.logo-image {
    filter: var(--logo-filter);
    transition: filter 0.3s ease-in-out;
    --logo-filter: none; /* default value */
}

[data-mode="system"] .logo-image ::after {
  --logo-filter: invert(10%) brightness(50%);
}

[data-mode="light"] .logo-image {
  --logo-filter: none;
}

[data-mode="dark"] .logo-image {
  --logo-filter: invert(70%) brightness(100%);
}
