.box_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
}
.tile {
    perspective: 1000px;
    margin: 10px;
    width: 100%; /* Ensure full width */
    max-width: 300px; /* Control max width */
}
.flip-card {
    background-color: transparent;
    width: 100%;
    height: 200px;
    border: 1px solid #f1f1f1;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    position: relative;
}
.flip-card:hover {
    transform: rotateY(180deg);
}
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.flip-card-front {
    background-color: #bbb;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    margin: 1rem;
    flex-basis: 45%;
    padding: 0.5rem;
    text-align: center;
    text-decoration: none;
    border: 2px solid #eaeaea;
    border-radius: 10px;
    border-color: #002f2f;
    transition:
      color 0.15s ease,
      border-color 0.15s ease;
}
.flip-card-back {
    background-color: #2980b9;
    color: white;
    transform: rotateY(180deg);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    margin: 1rem;
    flex-basis: 45%;
    padding: 0.5rem;
    border: 2px solid #eaeaea;
    border-radius: 10px;
    border-color: #001e43;
}
@media (min-width: 600px) {
    .box_container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
}